In [63]:
import pandas as pd

In [64]:
listaAux=[['Peru', '190.237.60.38', True, '2021-11-02 02:17:53', '2021-11-02', 'PostmanRuntime/7.28.4'], ['Peru', '190.237.60.38', True, '2021-11-02 02:16:52', '2021-11-02', 'PostmanRuntime/7.28.4'], ['Peru', '190.187.147.146', True, '2021-11-02 02:13:55', '2021-11-02', 'PostmanRuntime/7.28.4'], ['Peru', '190.237.60.38', True, '2021-11-02 02:13:13', '2021-11-02', 'PostmanRuntime/7.28.4'], ['Peru', '190.237.60.38', True, '2021-11-02 02:12:23', '2021-11-02', 'PostmanRuntime/7.28.4'], ['Peru', '190.237.60.38', True, '2021-11-02 02:10:28', '2021-11-02', 'PostmanRuntime/7.28.4'], ['Peru', '179.6.204.26', True, '2021-11-02 02:06:38', '2021-11-02', 'PostmanRuntime/7.28.4'], ['Peru', '179.6.204.26', True, '2021-11-02 02:05:18', '2021-11-02', 'PostmanRuntime/7.28.4']]

In [65]:
def setStatus(x):
    status="ENABLED"
    if(not x):
        status="DISABLED"
    return status

In [66]:
dfIni = pd.DataFrame(listaAux, columns =['countryName','ipClient','active','dateTime', 'date','browser'])
dfIni

,countryName,ipClient,active,dateTime,date,browser
0,Peru,190.237.60.38,True,2021-11-02 02:17:53,2021-11-02,PostmanRuntime/7.28.4
1,Peru,190.237.60.38,True,2021-11-02 02:16:52,2021-11-02,PostmanRuntime/7.28.4
2,Peru,190.187.147.146,True,2021-11-02 02:13:55,2021-11-02,PostmanRuntime/7.28.4
3,Peru,190.237.60.38,True,2021-11-02 02:13:13,2021-11-02,PostmanRuntime/7.28.4
4,Peru,190.237.60.38,True,2021-11-02 02:12:23,2021-11-02,PostmanRuntime/7.28.4
5,Peru,190.237.60.38,True,2021-11-02 02:10:28,2021-11-02,PostmanRuntime/7.28.4
6,Peru,179.6.204.26,True,2021-11-02 02:06:38,2021-11-02,PostmanRuntime/7.28.4
7,Peru,179.6.204.26,True,2021-11-02 02:05:18,2021-11-02,PostmanRuntime/7.28.4

In [67]:
dfBrowsers=dfIni[["dateTime","browser","active","countryName"]]
dfBrowsers

              dateTime                browser  active countryName
0  2021-11-02 02:17:53  PostmanRuntime/7.28.4    True        Peru
1  2021-11-02 02:16:52  PostmanRuntime/7.28.4    True        Peru
2  2021-11-02 02:13:55  PostmanRuntime/7.28.4    True        Peru
3  2021-11-02 02:13:13  PostmanRuntime/7.28.4    True        Peru
4  2021-11-02 02:12:23  PostmanRuntime/7.28.4    True        Peru
5  2021-11-02 02:10:28  PostmanRuntime/7.28.4    True        Peru
6  2021-11-02 02:06:38  PostmanRuntime/7.28.4    True        Peru
7  2021-11-02 02:05:18  PostmanRuntime/7.28.4    True        Peru

In [68]:
dfReq=dfIni.groupby(['ipClient']).count()
dfReq=pd.DataFrame(dfReq, columns =['active'])
dfReq.reset_index(level=0, inplace=True)
dfReq.rename(columns = {'active': 'nRequests'}, inplace = True)
dfReq

          ipClient  nRequests
0     179.6.204.26          2
1  190.187.147.146          1
2    190.237.60.38          5

In [69]:
dfDatesMax=dfIni[['ipClient','dateTime']]
dfDatesMax=dfDatesMax.groupby(['ipClient']).max()
dfDatesMax.reset_index(level=0, inplace=True)
dfDatesMax

          ipClient             dateTime
0     179.6.204.26  2021-11-02 02:06:38
1  190.187.147.146  2021-11-02 02:13:55
2    190.237.60.38  2021-11-02 02:17:53

In [70]:
mergedDetails = pd.merge(left=dfDatesMax, right=dfBrowsers, left_on='dateTime', right_on='dateTime')
mergedDetails['active'] = mergedDetails['active'].apply(setStatus)
mergedDetails.rename(columns = {'active': 'status'}, inplace = True)
mergedDetails

,ipClient,dateTime,browser,status,countryName
0,179.6.204.26,2021-11-02 02:06:38,PostmanRuntime/7.28.4,ENABLED,Peru
1,190.187.147.146,2021-11-02 02:13:55,PostmanRuntime/7.28.4,ENABLED,Peru
2,190.237.60.38,2021-11-02 02:17:53,PostmanRuntime/7.28.4,ENABLED,Peru

In [71]:
mergeComplete = pd.merge(left=mergedDetails,right=dfReq,left_on="ipClient",right_on="ipClient")
mergeComplete.rename(columns = {'dateTime': 'lastAccess'}, inplace = True)
mergeComplete

,ipClient,lastAccess,browser,status,countryName,nRequests
0,179.6.204.26,2021-11-02 02:06:38,PostmanRuntime/7.28.4,ENABLED,Peru,2
1,190.187.147.146,2021-11-02 02:13:55,PostmanRuntime/7.28.4,ENABLED,Peru,1
2,190.237.60.38,2021-11-02 02:17:53,PostmanRuntime/7.28.4,ENABLED,Peru,5